
{% load static %} <!-- Загрузка тега static -->

{% block content %}
<h1>Create Test</h1>
<form method="post" id="test-form">
    {% csrf_token %}
    {{ test_form.as_p }}
    <h2>Questions</h2>
    <div id="questions">
        {{ question_formset.management_form }}
        {% for form in question_formset %}
            <div class="question-form">
                {{ form.as_p }}
                <h3>Choices</h3>
                <div class="choices">
                    <button type="button" class="add-choice">Add Choice</button>
                    <div class="choice-forms">
                        <!-- Choice inputs will be dynamically added here -->
                    </div>
                </div>
                <button type="button" class="remove-question">Remove Question</button>
            </div>
        {% endfor %}
    </div>
    <button type="button" id="add-question">Add Question</button>
    <button type="submit">Save Test</button>
</form>

<script src="{% static 'js/create_test.js' %}"></script>
{% endblock %}
