<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Управление курсами</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Управление курсами</h1>
    <a href="{% url 'create_course' %}">Создать новый курс</a>
    <h2>Мои курсы</h2>
    <p>Заполните только те оценки, которые хотите добавить. Старые оценки останутся без изменений.</p>

    <form method="POST">
        {% csrf_token %}
        <ul>
            {% for course, students in form_data.items %}
            <li>
                <strong>{{ course.name }}</strong> - {{ course.description }}
                <a href="{% url 'add_material' %}">Добавить материалы</a>
                <a href="{% url 'add_student' %}">Добавить студента</a>
                <h3>Список студентов:</h3>
                <ul>
                    {% for student_data in students %}
                    <li>
                        {{ student_data.student.username }}
                        {{ student_data.form.grade }}
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
        <button type="submit">Добавить оценки</button>
    </form>
</body>
</html>
